<div class="task-form-container">
  <h1>Edit Task</h1>

  <%= render "form", task: @task %>

  <div class="form-links">
    <%= link_to "Show", task_path(@task) %> |
    <%= link_to "Back to Tasks", tasks_path %>
  </div>
</div>

